.carousel-container {
  position: relative;
  height: 100%;
  max-width: 200px;
  overflow: hidden;
  touch-action: pan-y;
}

.carousel-track {
  display: flex;
  height: 100%;
}

.carousel-card {
  flex: 0 0 200px;
  height: 100%;
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.carousel-card-inner {
  width: 200px;
  height: 290px;
  border-radius: 5px;
}

.carousel-pagination-wrapper {
  position: absolute;
  left: 40px;
  right: 0;
  bottom: -10px;
  max-width: 200px;
  pointer-events: none;
}

.carousel-pagination {
  list-style: none;
  display: flex;
  width: 60px;
}

.carousel-pagination li {
  width: 6px;
  height: 6px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  background: rgba(50, 50, 50, 0.5);
}

.carousel-pagination .current {
  border-radius: 5px;
  background: white;
}
